*@model IEnumerable<Test2.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>ELO READ ONLY LIST

@*@if (!Model.Any())
    {
        <p>We don't have any customers yet.</p>
    }
    else*@

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>


    @*<tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>*@
</table>



@section scripts
{
    <script>
        //po utworzeniu DOM
        $(document).ready(function () {


            //renderowanie tabeli z API
            var table = $("#movies").DataTable({
                //pierwszy arg- skąd dane
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                //drugi arg pierwsza kolumna - name and link to edit
                columns: [
                    {
                        data: "name"
                    },
                    //drugi arg druga kolumna
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}

